ul.facetapi-facetapi-color-links li {
	display: inline-block;
  margin: 0 15px 10px 0;
}

.facet_colors_box {
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.facetapi-active .facet_colors_box:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 32px;
	height: 32px;
	border: 2px solid #5693c1;
	left: -6px;
	top: -6px;
}

.facetapi-inactive .facet_colors_box {
	border: 1px solid #a2a2a2;
}

.facet_color_box {
	border: none;
	display:inline-block;
	float: none;
	width: auto;
	height: auto;
	margin: 0;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.facet_color_box:nth-child(2) {
	left: 50%;
}

.facet_color_name {
	display: none;
}
